## Zadanie PS 9 / praca domowa #4

Na podstawie dwóch tabel zapisanych w plikach csv, utwórz nową zawierającą wszystkich klientów. Zignoruj kolumny DOB, cusfirstorder, cuszone, cusannualsales, currentbalance. Zwróć uwagę na poniższe punkty.

1. Należy ujednolicić pole, które jest kluczem głównym w tabeli Customer oraz w plikach z danymi, które mają być załadowane do tabeli Customer.

2. Kod pocztowy powinien być reprezentowany przez 5 cyfr (jeśli kod zawiera więcej cyfr, należy je pominąć)

3. Stan powinien być zawsze reprezentowany przez dwie duże litery.

4. Należy zmienić każde wystąpienie skrótu Pgh na pełną nazwę miasta tj. Pittsburgh.

5. Nazwa klienta i adres powinny być reprezentowana przez pojedyńcze pola. Jeśli nazwa klienta jest reprezentowana przez dwa pola, wówczas należy dokonać konkatenacji (np. pola cusaddress1 oraz cusaddress2 w BranchCustomers powinny być reprezentowane przez jedną kolumnę).

6. Należy zmienić nazwę klienta na wielkie litery i usunąć niepotrzebne początkowe i końcowe znaki białe (spacje)

7. Należy oczyścić z białych znaków też kolumnę nazwy miasta

8. Należy zmienić nazwę kolumny cusrecentorder na RecentOrder, dla danych z NewCustomer w tej kolumnie proszę wstawić datę 1 marca 2020 w odpowiednim formacie

9. Ostateczna wersja tabeli Customer powinna zawierać tylko jednego klienta o podanej nazwie.

Uwaga: Sprawozdanie można przesłać w postaci notatnika jupyter, pliku HTML lub pliku dokumentu pdf. Jeśli zdecydujecie się Państwo na PDF lub HTML, to należy w nim umieścić teści poszczgólnych poleceń z komentarzem do czego służą oraz zawartość końcowej tabeli Customer.

In [11]:
import pandas as pd

bc = pd.read_csv("BranchCustomers.csv")
nc = pd.read_csv("NewCustomers.csv")

In [12]:
# wyrzucenie niepotrzebnych kolumn w nc drop -> DOB
nc.drop(["DOB"], axis=1, inplace=True)

In [13]:
# wyrzucenie niepotrzebnych kolumn w bc drop -> cusfirstorder, cuszone, cusannualsales, currentbalance
bc.drop(
    ["cusfirstorder", "cuszone", "cusannualsales", "currentbalance"],
    axis=1,
    inplace=True,
)

In [14]:
# polaczenie imion i nazwisk oraz adresu 1 i adresu 2
bc["Name"] = bc["cusfname"] + " " + bc["cuslname"]
bc["Address"] = bc["cusadd1"] + " " + bc["cusadd2"]

bc.drop(["cusfname", "cuslname", "cusadd1", "cusadd2"], axis=1, inplace=True)

In [16]:
# zmiana nazw nc
nc.rename(columns=lambda x: x.capitalize(), inplace=True)

In [19]:
# zmiana nazw bc wywalając cus i duża litera
bc.rename(columns=lambda x: x.replace("cus", "").capitalize(), inplace=True)

In [20]:
bc

,Num,Middle,Email,Phone,City,State,Zip,Recentorder,Fullname,Address
0,A01,A,jsemp@mail.com,123-654-2344,Pittsburgh,PA,15217-2233,5/1/2018,Jim Semp,123 Main Street Suite 23
1,A03,NaN,laura.vail@hotmail.com,756-345-6789,Morgantown,WV,26501,6/1/2016,Laura Vail,NaN
2,A05,NaN,al@alsbakery.com,213-543-2342,Pittsburgh,PA,15219-1222,8/12/2011,NaN,NaN
3,A07,R,jwen@yahoo.com,434-786-3453,Washington,DC,20001,11/24/2014,Janet Wendell,23212 Fern Circle Apt 100
4,A09,NaN,aalbert@gmail.com,234-678-9234,Pittsburgh,PA,15229,6/3/2014,Alicia Albert,NaN
5,A11,NaN,hank@kobbfam.net,234-098-7464,Pittsburgh,PA,15229-8821,3/5/2013,Henry Kobb,10 Dairy Way 2nd Floor
6,A13,NaN,manager@cornermarket.com,222-837-6455,Ross,PA,15237,6/2/2018,NaN,NaN
7,A15,E,pt23@school.edu,995-234-5656,Ross,PA,15237,7/13/2018,Paul Tolby,NaN
8,A17,NaN,opless@pctech.com,234-765-2233,Oakland,PA,15213-8260,9/16/2017,Olive Pless,NaN
9,A19,L,walk.r@aol.com,969-234-8367,Oakland,PA,15213,8/1/2017,Remmy Walker,NaN
10,A21,NaN,71Csqhill@pgh.org,412-098-8984,Pittsburgh,PA,15434,11/11/2018,NaN,NaN